@keyframes slidein {
    from {
        margin-bottom: 100%;
        width: 300%;
    }

    to {
        margin-bottom: 0%;
        width: 100%;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    animation-name: slidein;
    animation-duration: 3s;
}
header{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lightslategrey;
    position: static;
    width: 100%;
    z-index: 100;
}
body{
    background-color: white;
}
.menu{
    display: flex;
    margin-right: 10px;
}
.menu a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}
.car_image{
    width: 1000px;
    height: 500px;
    margin: 100px 100px 100px 100px;
}
.car{
    position: sticky;
    text-align: right;
    float: right;
    background-position: 100% 0%;
    margin: 100px 0px 0px 0px;
}
.car_image1{ 
    width: 800px;
    height: 500px;
    margin: 10px;
    background-position: 50% 50%;
}
h1.car_texto{
    width: 800px;
    height: 500%;
    font-size: 30px;
    color: black;
    font-weight: 600px;
    padding: 5px 0px 0px 10px;
    margin: 10px 0px 100px 0px;
    text-align: center;
}

h1.titulo{
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px 0px 0px 0px;
}
h1.sub{
    font-size: 70px;
    color: red;
    font-weight: 600px;
    padding: 10px;
    margin: 50px 0px 0px 100px;
}
h2.subt{
font-size: 50px;
    color: midnightblue;
    font-weight: 600px;
    padding: 10px;
    margin: 50px 0px 0px 100px;
}
p.cont{
    font-size: 40px;
    color: black;
    padding: 10px;
    margin: 10px 100px 50px 100px;
    inline-size: 1200px;
    line-height: 200%;
}
.pie_pag{
    width: 800px;
    height: 700px;
    padding: 40px 40px 40px 40px;
    margin: 80px 30px 30px 150px;
    font-size: 40px;
    background-color: white;
}
.name{
    width: 200px;
    height: 500px;
}
h1{
    margin: 0px 0px 30px 150px;
    color: red;
}
input{
    width: 600px;
    height: 60px;
    margin: 0px 0px 30px 0px;
    padding: 8px;
    font-size: 30px;
}
textarea{
    width: 600px;
    height: 200px;
    margin: 0px 0px 30px 0px;
    padding: 8px;
    font-size: 30px;
}
li{
    list-style: none;
}
button{
    font-size: 25px;
    width: 150px;
    height: 80px;
    margin: 0px 0px 30px 200px;
}
button:hover{
    background-color: red;
    color: white;
}
button:active {
    background-color: black;
    color: white;
}
.button1{
    font-size: 30px;
    height: 70px;
    padding: 5px;
    margin: 5px;
}
.button1 :hover{
    background-color: crimson;
    font-size: 20px;
    width: 300px;
    height: 50px;
}
footer{
    text-align: center;
    font-size: 30px;
    margin: 200px 0px 0px 0px;
    background-color: firebrick;
    color: white;
}
.palanca{
     width: 1000px;
      height: 700px;
      padding: 50px 50px;
      margin: 100px 100px 100px 100px;
}
.encendido{
     width: 1000px;
     height: 700px;
     padding: 50px 50px;
     margin: 100px 100px 100px 100px;
}
.marcha{
    width: 1000px;
    height: 700px;
    padding: 50px 50px;
    margin: 100px 100px 100px 100px;
}