*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
:root{
    
}
header{
    width: 1600px;
    height: 450px;
    background-color: black;
    padding: 10px;
    margin: 10px;
}
.menu{
    font-size: 20px;
        color: white;
        font-weight: 600px;
        font-family: 'Times New Roman', Times, serif;
}
h1.titulo{
    font-size: 40px;
    color: white;
    text-align: center;
}
h1.sub{
    font-size: 40px;
        color: red;
        font-weight: 600px;
        padding: 10px;
        margin: 10px;
}
h2.subt{
font-size: 20px;
    color: black;
    font-weight: 600px;
    padding: 10px;
    margin: 10px;
}
p.cont{
    width: 800px;
    font-size: 18px;
        color: black;
        font-weight: 600px;
        padding: 10px;
        margin: 10px;
}
.car{
    text-align: left;
}
.car_image{
    width: 500px;
    height: 300px;
    padding: 10px;
    margin: 10px;
}
.car_image1{
    width: 700px;
    height: 500px;
    padding: 10px;
    margin: 10px;
}
h1.car_texto{
    width: 500px;
    height: 300%;
    font-size: 30px;
        color: black;
        font-weight: 600px;
        padding: 10px;
        margin: 10px;
}
.pie_pag{
    width: 500px;
    height: 500px;
    padding: 25px;
    margin: 20px;
    font-size: 30px;
    background-color: white;
    border: 5px solid black;
}
button{
    font-size: 15px;
    width: 100px;
    height: 50px;
}
button:hover{
    background-color: red;
    color: white;
}
button:active {
    background-color: black;
    color: white;
}
.button1{
    font-size: 30px;
    height: 70px;
    padding: 5px;
    margin: 5px;
}
.button1 :hover{
    background-color: crimson;
    font-size: 20px;
        width: 300px;
        height: 50px;

}
.button::before {
    content: "";
    border: 3px solid black;
    width: 30px;
    text-align: left;
}